@CHARSET "ISO-8859-1";
/* 
	Plain old table styles
	written by Chris Heilmann http://wait-till-i.com
*/
table,td,th{
	border:2px solid #FFF;
	border-collapse:collapse;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
td,th{
	padding:.2em .5em;
	vertical-align:top;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 0.9em;
	color: #000;
}

thead td, tr{
	color:#fff;
	background: #666;	
	text-align: center;
	font-weight:bolder;
}
tbody td{
	background:#ccc;
}
tbody th{
	background:#999;
}
tbody tr.odd td{
	background:#eee;
}
tbody tr.odd th{
	background:#ccc;
}
caption{
	text-align:left;
	font-size:140%;
	text-transform:uppercase;
	letter-spacing:-1px;
}
table th a:link{
	color:#030;
}
table th a:visited{
	color:#003;
}
table td a:link{
	color:#000;
}
table td a:visited{
	color:#000;
}
table a:hover{
	text-decoration:none;
}
table a:active{
	color:#000;
}


body {
	background-color:#F7F7F7;
}
fieldset {
	border:1px dashed #CCC;
	padding:10px;
}
legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 90%;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1.1;
	color:#fff;
	background: #666;
	border: 1px solid #333;
	padding: 2px 6px;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 175%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#333;
}

caption {
	text-transform: uppercase;
	text-align:center;  
	font: bold 12pt Verdana;
	color: #4F4F4F;
	margin: 3px 0;
}
label {
	width:142px;
	height:32px;
	margin-top:3px;
	margin-right:2px;
	padding-top:11px;
	padding-left:6px;
	background-color:#CCCCCC;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 115%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#666;
}
.form {
	margin:0;
	padding:0;
}
#container {
	width:750px;
	margin:auto;
	padding:10px;
}
#top {
	width:680px;
	height:50px;
}
#leftSide {
	width:530px;
	padding-top:30px;
	float:left;
}
.rightSideProdutos{
	width:200px;
	margin-top: 10px;
	float:left;
	background-color:#fff;
}

#rightSide {
	background-color:#fff;
	width:200px;
	padding:5px;
	margin-top:40px;
	float:right;
	border:1px solid #CCC;
	font:normal 12px Arial;
	color:#666666
}

.clear {
	clear:both;
}
.holder {
	background-color:#fff;

}
.div_texbox {
	width:347px;
	float:right;
	background-color:#E6E6E6;
	height:35px;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
}

.textbox {
	width:285px;
	font:normal 14px Arial;
	color: #999999;
	padding:3px 5px 3px 19px;
}
.textbox:focus, .textbox:hover {
	background-color:#F0FFE6;
}

.button_div {
	width:287px;
	float:right;
	background-color:#fff;
	border:1px solid #ccc;
	text-align:right;
	height:35px;
	margin-top:3px;
	padding:5px 32px 3px;
}
.buttons {
	background: #e3e3db;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
}